<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/dashboard}">
<head>
    <meta charset="UTF-8">
    <title>Ajouter un Module | ENSA Tétouan</title>
</head>
<body>

<div layout:fragment="content">
    <div class="container-fluid">
        <h2>Ajouter un Module</h2>

        <div th:if="${success}" class="alert alert-success alert-dismissible fade show" role="alert">
            <span th:text="${success}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div th:if="${error}" class="alert alert-danger alert-dismissible fade show" role="alert">
            <span th:text="${error}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <form th:action="@{/admin/modules/add}" method="post" th:object="${module}">
            <input type="text" class="form-control" id="name" th:field="*{name}" required>
            <textarea class="form-control" id="description" th:field="*{description}"></textarea>
            <select name="departmentId" class="form-select" id="department" required>
            </select>
            <input type="number" class="form-control" id="workload" th:field="*{workload}" min="0" required>
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </form>   </div>
</div>
</body>
</html>